<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>Página Principal</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Express</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/galeria">Galería</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <h1>Paisajes Naturales</h1>
        <section>
            <h2>Bosques</h2>
            <p>Los bosques son una de las maravillas naturales más impresionantes del planeta.
                Desde los densos bosques tropicales hasta los bosques boreales de coníferas,
                estos lugares son el hogar de una increíble diversidad de plantas y animales.</p>    
        </section>
        <section>
            <h2>Montañas</h2>
            <p>Las montañas son uno de los paisajes naturales más sobrecogedores y majestuosos del mundo.
                Desde las cimas nevadas de los Himalayas hasta las escarpadas rocas de las Rockies,
                estas formaciones geológicas han sido escenario de algunas de las expediciones más épicas de la historia.</p>
        </section>
        <section>
            <h2>Océanos</h2>
            <p>Los océanos son algunos de los paisajes naturales más vastos e imponentes del planeta.
                Desde las playas de arena blanca y las barreras de coral exóticas del Mar del Caribe
                hasta los glaciares gigantes del Ártico, estas enormes extensiones de agua cubren más
                del 70% de la superficie terrestre.</p>
        </section>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="/assets/js/main.js"></script>
</body>

</html>